{% extends './base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger py-4 pl-4 font-semibold bg-red-400 w-full">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="py-4 pl-4 font-semibold bg-red-400 w-full">
                Jesteś już zalogowany!
            </div>
        {% endif %}
        <div class="block w-full ">
            <div class="my-4 text-white drop-shadow-lg text-left italic font-extrabold text-3xl max-w-full">
                Zaloguj się do twarzoksiążki
            </div>
            <div class="w-full">
                <label for="inputUsername" class="block font-bold text-sm text-gray-800 py-2">Login</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control w-2/12" autocomplete="username" required autofocus>
                <label for="inputPassword" class="block font-bold text-sm text-gray-800 py-2">Hasło</label>
                <input type="password" name="password" id="inputPassword" class="form-control w-2/12" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="block btn px-4 py-3 my-4 w-2/12 bg-blue-700 text-white font-extrabold hover:bg-blue-400 focus:outline-none" type="submit">
                    Zaloguj się
                </button>
            </div>
        </div>
    </form>
{% endblock %}
