{% extends "./base.html.twig" %}

{% block body %}

    <div class="text-white drop-shadow-md text-center italic font-extrabold text-3xl"> 
        twarzoksiążka V2 ma już {{ users|length }} aktywnych użytkowników!
    </div>
    </br>
    <div class="flex w-full my-10">
        <div class="w-1/2">
            <div class="text-white drop-shadow-md text-center italic font-extrabold text-3xl"> 
                Masz już u nas konto? Zaloguj się!
            </div>
            <div class="text-center text-xl"> 
                Witaj z powrotem!
            </div>
            <a href="{{ path('app_login') }}">
                <button class="btn block px-4 py-2 my-4 w-4/5 m-auto bg-blue-700 text-white font-extrabold hover:bg-blue-400 focus:outline-none">   
                    Logowanie
                </button>
            </a>
        </div>
        <div class="w-1/2">
            <div class="text-white drop-shadow-md text-center italic font-extrabold text-3xl"> 
                Jesteś tu nowy? Załóż konto!
            </div>
            <div class="text-center text-xl"> 
                To nic nie kosztuje!
            </div>
            <a href="{{ path('app_register') }}">
                <button class="btn block px-4 py-2 my-4 w-4/5 m-auto bg-blue-700 text-white font-extrabold hover:bg-blue-400 focus:outline-none">   
                    Rejestracja
                </button>
            </a>        
        </div>
    </div>
{% endblock %}